<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AMBI Application</title>

        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-responsive.css">
    </head>
    <body>
		
		<div class="container">
			<div id="first-visit-dialog" class="modal hi fade in">
				<div class="modal-header">
					<a class="close" data-dismiss="modal">x</a>
					<h3>Welcome to #AMBI<h3>
				</div>
				
				<div class="modal-body">
					<h4>The next generation in Social Bar Hopping</h4>
					<p> Ambi takes you to the most hopping spots, by giving you access to real time images of the bar scene 					in your area, "poppin" ratings, and usable drink coupons provided by each bar.<p>
				</div>
				
				<div class="modal-footer">
					<p>Are you a Bar-Owner or a Bar-Goer?</p>
					<a href="/barowner" class="btn" data-dismiss="modal">Bar-Owner</a>
					<a href="/bar-goer" class="btn" data-dismiss="modal">Bar-Goer</a>
				</div>
			</div>
        </div>
		
		<script src="../static/bootstrap/js/jquery-1.9.1.min.js">,</script>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
